.carousel-item{
    height:calc(100vh - 97px);
    min-height:300px;

}
.carousel-caption{
    bottom:180px;
    z-index:2;
}
img{
    object-fit: cover;
}
.carousel-caption h5{
 font-size:45px ;  
 text-transform:uppercase;
 letter-spacing: 2px;
 margin-top:25px;
}
.carousel-caption p{
    width:70%;
    margin:auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.9);
    z-index:1;
}
.w-100{
    height:calc(100vh - 97px);
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption h5{
        font-size:40px ;  
    }
    .carousel-caption{
        bottom:250px;
    }
    .carousel-caption p{
        width:100%;
    }
}
@media only screen and (max-width: 767px){
  
    .carousel-caption{
        bottom: 170px;

    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption p{
        width:100%;
        font-size: 12px;
        line-height: 1.6;
    }
}
@media only screen and (max-width: 568px){
    
    .carousel-caption{
        bottom: 270px;

    }
    .carousel-item{
        min-height:300px;
    }
   
}
@media only screen and (max-width: 368px){
   
}
    

