.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.cards{
    position:relative;
    overflow:hidden
}
.cards > img{
 display:block;
 width:100%;
 height:100%;
 aspect-ratio: 1 / 1;
 object-fit: cover;
 object-position: center;
}
.cards > .cards-body{
 position:absolute;
 font-size: 2rem;
 inset:0;
 padding:1rem;
 background: rgba(255,255,255,0.4);
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.cards > img,
.cards > .cards-body{
    transition: 200ms ease-in-out;
}
.cards:hover > img.blur{
    filter:blur(5px)
}
.cards:hover > img.gray{
    filter:grayscale(1)
}
.cards:hover > img.zoom{
    transform:scale(1.1);
 }
.cards > .cards-body.fade{
    opacity:0;
}
.cards:hover > .cards-body.fade{
    opacity:1;
}
.cards > .cards-body.slide-left{
    transform: translateX(-100%);
}
.cards:hover > .cards-body.slide-left{
    transform: translateX(0%);
}
.cards > .cards-body.slide-right{
    transform: translateX(100%);
}
.cards:hover > .cards-body.slide-right{
    transform: translateX(0%);
}
.cards > .cards-body.slide-down{
    transform: translateY(-100%);
}
.cards:hover > .cards-body.slide-down{
    transform: translateY(0%);
}
.cards > .cards-body.slide-up{
    transform: translateY(100%);
}
.cards:hover > .cards-body.slide-up{
    transform: translateY(0%);
}


h2{
    font-size: 18px;
    min-width:50%;
    min-height: 45px;
}


@media only screen and (max-width: 767px) {
    h2{
     font-size: 15px;
     min-height: 25px;
    }
   
 }